page-dashboard {
    .card-md h2 {
        margin: 10px 0;
        font-size: 1.6rem;
        font-weight: normal;
        color: #222;
        margin-left: 15px;
        margin-right: 15px;
    }

    .card-header {
        color: #427feb;
    }
}